<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">update password</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item">Pharmacy</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">update password</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                  
                    <div class="card-body" id="bar-parent">
                        <form [formGroup]="patientForm" id="form_sample_1" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Current Password
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="password" formControlName="oldPassword" name="oldPassword" data-required="1" placeholder="current password" class="form-control input-height" /> 
                                     
                                        <div *ngIf="!patientForm.controls['oldPassword'].valid&&patientForm.controls['oldPassword'].dirty">
                                                    <span class="text-capitalize small text-danger" *ngIf="patientForm.controls['oldPassword'].errors['required']" class="small redlabe text-danger">Old Password is required</span> 
                                                </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">New Password
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                         <input type="password" name="pswd" data-required="1" placeholder="enter Password" class="form-control" formControlName="password"/>
                                                <div class="small" *ngIf="!patientForm.controls['password'].valid&&patientForm.controls['password'].dirty">
                                                    <span *ngIf="patientForm.controls['password'].errors['required']" class="small redlabe text-danger">Password cannot be left blank</span>
                                                    <span *ngIf="patientForm.controls['password'].errors['minlength']" class="small redlabe text-danger">password must be atleast 6 characters</span>
                                                    <span *ngIf="patientForm.controls['password'].errors['pattern']&&!patientForm.controls['password'].errors['minlength']" class="small redlabe text-danger">Password must contain at least 6 characters including 1 uppercase and 1 lowercase letter, 1 special character and 1 number</span>
                                                </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">Confirm password
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                           <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                                            <div class="small redlabe text-danger" *ngIf="!patientForm.controls['confirmPassword'].valid&&patientForm.controls['confirmPassword'].dirty">
                                            </div>
                                            <div *ngIf="patientForm.controls['confirmPassword'].dirty&&patientForm.hasError('mismatchedPasswords')"><span class="small redlabe text-danger"> Passwords do not match.</span></div>
                                    </div>
                                </div>
                                  
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="offset-md-3 col-md-9">
                                            <button type="submit" data-toggle="modal" class="btn btn-info" (click)="updatePassword()" [disabled]="!patientForm.valid">Submit</button>
                                            <button type="button" class="btn btn-default" (click)="reset()">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>