   <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> All Pharmacy</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']"><i class="icon-home"></i></a></li>                            
                            <!-- <li class="breadcrumb-item">Patient</li> -->
                            <li class="breadcrumb-item active">All Pharmacy</li>
                        </ul>
                    </div>            
                <!--     <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>                        
                    </div> -->
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card patients-list">
                        <div class="header">
                            <h2>Pharmacy List</h2>
                            <ul class="header-dropdown">
                                <!-- <li><a class="tab_btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Weekly">W</a></li>
                                <li><a class="tab_btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Yearly">Y</a></li> -->
                                <li>
                                    <a class="btn btn-sm btn-primary" [routerLink]="['/hospital/addpharmacy']">+ Add</a>
                                </li>
                                <!-- <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                        <div class="body">
                            <!-- Nav tabs -->
                            <!-- <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#All">All</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#USA">USA</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#India">India</a></li>
                            </ul> -->
                                
                            <!-- Tab panes -->
                            <div class="tab-content m-t-10 padding-0">
                                <div class="tab-pane table-responsive active show" id="All">
                                    <table class="table m-b-0 table-hover">
                                        <thead class="thead-dark">
                                            <tr>                                       
                                                <th>Media</th>
                                                <th>Pharmacy ID</th>
                                                <th>Name</th>
                                                <th>Open Time</th>
                                                <th>Close Time</th>
                                                <th>Contact No</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <tr *ngIf="pharmacyLength<1">
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>                                                                  
                                                                    <td>No Data Found</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                   
                                                                </tr>

                                            <tr  *ngFor="let pharm of pharmacys  | paginate: { id: 'pharmacys',itemsPerPage: 4, currentPage: p };let i = index">
                                                <td><span class="list-icon">
                                                   
                                                   <img src="{{pharm.image ? pharm.image : '../../.././assets/img/default-avatar.png'}}" alt="" width="70" height="70" style="border-radius: 800%">
                                                </span></td>
                                                <td><span class="list-name">{{pharm._id ? pharm._id : 'NA'}}</span></td>
                                                <td>{{pharm.name ? pharm.name : 'NA'}}}</td>
                                                <td>{{pharm.open ? pharm.open :'NA'}}</td>
                                                <td>{{pharm.close ? pharm.close :'NA'}}</td>
                                                <td>{{pharm.contactNo ? pharm.contactNo :'NA'}}</td>
                                                <td ><span class="badge badge-success" *ngIf="lab.isApproved">Approved</span></td>
                                                 <td ><span class="badge badge-danger" *ngIf="!lab.isApproved">Not Approved</span></td>
                                            </tr>
                                           
                                            
                                        </tbody>
                                    </table>                            
                                </div>
                            </div>
                        </div>
                        <pagination-controls id="pharmacys" (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>