<header class="header">
        <div class="header__content header__content--fluid-width">
            <div class="header__logo-title">
                <a >
                    <img src="assets/../../assets/images/white-logo.png" alt="logo" width="160" class="default-logo">
                </a>
                <a >
                    <img src="assets/../../assets/images/logo.png" alt="logo" width="160" class="active-logo">
                </a>
            </div>
            <nav class="header__menu">                                                                   
                <ul>
                    <li><a class="selected header-link" scrollTo href="#intro">HOME</a></li>
                    <li><a  class="header-link" scrollTo href="#about">About</a></li>
                    <li><a class="header-link" scrollTo href="#features">FEATURES</a>
                    </li>
                    <li><a  class="header-link" scrollTo href="#support">CONTACT</a></li>
                    <li *ngIf="isLogin"><a  class="header-link" (click)="dashboard()">Dashboard</a></li>
                    <li *ngIf="isLogin"><a  class="header-link" (click)="logout()">Logout</a></li>
                    <li class="header__btn header__btn--login" *ngIf="isNotLogin">
                        <a [routerLink]="['/login']">LOGIN</a>
                    </li>
                    <li class="header__btn header__btn--signup" *ngIf="isNotLogin">
                        <a [routerLink]="['/signup']">GET STARTED</a>
                    </li>          
                </ul>
            </nav> 
        </div>      
    </header>