<div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Diagnostic</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index3.html"><i class="icon-home"></i></a></li>                            
                            <!-- <li class="breadcrumb-item">Patient</li> -->
                            <li class="breadcrumb-item active">Diagnostic</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card patients-list">
                        <div class="header">
                            <h2>Diagnostic List</h2>
                            <ul class="header-dropdown">
                                <!-- <li><a class="tab_btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Weekly">W</a></li>
                                <li><a class="tab_btn" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Monthly">M</a></li>
                                <li><a class="tab_btn active" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Yearly">Y</a></li> -->
                                <li>
                                    <!-- <a class="btn btn-sm btn-primary" href="pharmacy-add.html">+ Add</a> -->
                                </li>
                                <!-- <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                        <div class="body">
                            <div class="upload-file" data-toggle="modal" data-target="#upload-modal">
                                <p class="mb-0">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                </p>
                                <p class="mb-0">
                                    Click To Upload File
                                </p>
                            </div>
                            <!-- Nav tabs -->
                            <!-- <ul class="nav nav-tabs-new2">
                                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#All">All</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#USA">USA</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#India">India</a></li>
                            </ul> -->
                                
                            <!-- Tab panes -->
                            <div class="tab-content m-t-10 padding-0 mt-5">
                                <div class="tab-pane table-responsive active show" id="All">
                                    <table class="table m-b-0 table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Name</th>                                       
                                                <th>Diagnostic Name</th>
                                                <th>Notes</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="list-name">KU 00258</span></td>
                                                <td>Alexander</td>
                                                <td>123 6th St. Melbourne, FL 32904</td>
                                                <td>404-447-6013</td>
                                                <td>
                                                    <a href="#!" class="mr-2 text-info" title="Download"><span class="fa fa-download"></span></a>
                                                    <a href="#!" class="mr-2" title="View">
                                                        <span class="fa fa-eye"></span>
                                                    </a>
                                                    <a href="#!" title="Share" class="text-success">
                                                        <span class="fa fa-share"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Your Diagnostic Bills</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="">
                                <label>Name*</label>
                                <input type="text" name="mobile" class="form-control" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label>Diagnostic Lab Name*</label>
                                <input type="text" name="mobile" class="form-control" placeholder="Enter Diagnostic Lab Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label>Notes*</label>
                                <input type="text" name="mobile" class="form-control" placeholder="Enter Notes">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label>Date</label>
                                <input type="text" name="Date" class="form-control" placeholder="Enter Date">
                            </div>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                            <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                  </div>
                </div>
            </div>
        </div>