
<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, All Rights Reserved By
            <a href="" target="_blank">MEDILOCKS</a> 
        </div>
    </div>
</footer>


<!-- 
	<footer class="footer" id="footer">
			<div class="footer__content footer__content--fluid-width footer__content--svg">
			
				<div class="grid grid--5col">
				
					<div class="text-center">
						<div>
							<a href="index.html">
								<img src="assets/images/logo.png" alt="logo" width="200">
							</a>
						</div>
						<p class="grid__text grid__text--copyright text-center mt-2">Copyright &copy; {{test | date: 'yyyy'}}, Medilocks. All Rights Reserved. </p>
						<ul class="grid__list grid__list--sicons">
								<li><a href="#"><img src="images/twitter.png" alt="" title=""/></a></li>
								<li><a href="#"><img src="images/facebook.png" alt="" title=""/></a></li>
								<li><a href="#"><img src="images/linkedin.png" alt="" title=""/></a></li>
						</ul>
					</div>					
				</div>
				
				
			</div>


	</footer> -->

