<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
         <div class="page-logo" [routerLink]="['/home']">
                    <a >
                    <span class="logo-icon fa fa-stethoscope fa-rotate-45"></span>
                    <span class="logo-default" >Medilocks</span> </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                 <!-- <form class="search-form-opened" action="#" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query">
                        <span class="input-group-btn">
                          <a href="javascript:;" class="btn submit">
                             <i class="icon-magnifier"></i>
                           </a>
                        </span>
                    </div>
                </form> -->
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                
                <div class="top-menu">

                    <ul class="nav navbar-nav pull-right">
                       <li class="nav-item px-4 p-2 ">
            <a (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                <a  style="color:black;cursor: pointer;">Logout</a>
               </a>
          </li>
                     
                    </ul>
     </div>
   </div>
</div>    

