 <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Patients Dashboard</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                       
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                       <div class="card modal-open">
                            <div class="body">
                              <div class="number">
                                    <h4><!-- <i class="fa fa-eye m-r-10"></i> --><b>BP</b></h4>
                                    <span>{{bp ? bp : 0}}</span>
                                </div>
                                
                            </div>
                            <div class="sparkline" data-type="bar" data-width="90%" data-height="100px" data-bar-Width="5"
                            data-bar-Spacing="6" data-bar-Color="#e66d7e">  
                            <canvas
                              baseChart
                              [chartType]="'bar'"
                              [datasets]="chartData1"
                              [labels]="labels1"
                              [options]="chartOptions"
                              [legend]="false"
                              [colors]="colors"
                              (chartClick)="onChartClick($event)">
                         </canvas>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <div class="card modal-open">
                            <div class="body">
                              <div class="number">
                                    <h4><!-- <i class="fa fa-comments-o m-r-10"></i> --><b>Sugar</b></h4>
                                    <span>{{sugar ? sugar : 0}} <b>mg/dL</b></span>
                                </div>
                                
                            </div>
                            <div class="sparkline text-left" data-type="line" data-width="90%" data-height="100px" data-line-Width="2" data-line-Color="#23c596"
                                    data-fill-Color="transparent">  
                        <canvas
                              baseChart
                              [chartType]="'bar'"
                              [datasets]="chartData2"
                              [labels]="labels2"
                              [options]="chartOptions"
                              [legend]="false" 
                              [colors]="colors2"                             
                              (chartClick)="onChartClick($event)">
                         </canvas>
                        </div>
                    </div>
                </div>
                  </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card modal-open">
                            <div class="body">
                                <div class="number">
                                    <h4><!-- <i class="fa fa-share-alt m-r-10"></i> --><b>Weight</b></h4>
                                    <span>{{weight ? weight : 0}} <b>kg</b></span>
                                </div>
                            </div>
                            <div class="sparkline" data-type="bar" data-width="97%" data-height="132px" data-bar-Width="4"
                            data-bar-Spacing="1" data-bar-Color="#f7cf5c">
                         <canvas
                              baseChart
                              [chartType]="'bar'"
                              [datasets]="chartData3"
                               [labels]="labels3"
                              [options]="chartOptions"
                              [legend]="false"
                              [colors]="colors3"
                              (chartClick)="onChartClick($event)">
                         </canvas>
                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>