   <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"></a>Doctors</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']"><i class="icon-home" ></i></a></li>                            
                            <li class="breadcrumb-item active">Doctors</li>
                        </ul>
                    </div>            
                    <!-- <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let doctor of doctors">
                    <div class="card" (click)="viewDoctorProfile(doctor?._id)">
                        <div class="body text-center">
                            <div class="chart easy-pie-chart-1" data-percent="75"> <span><img src="{{doctor.image ? doctor.image : '../../.././assets/img/user/user1.jpg' }}" data-toggle="tooltip" data-placement="top" title="Dr. Avatar" alt="user" class="rounded-circle"/></span> </div>
                            <h6 class="mb-0"><a href="#" title="" >Dr. {{doctor.firstName+' '+doctor.lastName}}</a> </h6>
                              <div>
                                 <ul>
                                    <li *ngFor="let special of doctor?.practiceSpecialties">
                                      <b>Specialties</b>  {{special ? special : 'NA'}}
                                    </li>
                                 </ul>
                               <!--  <span>
                                 <b>Department</b> {{doctor.department ? doctor?.department : 'NA'}}</span> -->
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="body text-center">
                            <div style="padding: 55px 0px;">
                                <h6>Add New <br> Docter</h6>                                
                                <a [routerLink]="['/hospital/adddoctor']" class="btn btn-outline-primary m-t-10"><i class="fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>