<div class="page-content-wrapper">
    <div class="page-content">
     
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                  
                    <div class="card-body" id="bar-parent">
                        <form [formGroup]="updatePasswordForm" id="form_sample_1" class="form-horizontal">
                            <div class="form-body">

                        
                                <div class="form-group row">
                                    <label class="control-label col-md-3">New Password
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-5">
                                         <input type="password" name="pswd" data-required="1" placeholder="enter Password" class="form-control" formControlName="password"/>
                                                <div class="small" *ngIf="!updatePasswordForm.controls['password'].valid&&updatePasswordForm.controls['password'].dirty">
                                                    <span *ngIf="updatePasswordForm.controls['password'].errors['required']" class="small redlabe text-danger">Password cannot be left blank</span>
                                                    <span *ngIf="updatePasswordForm.controls['password'].errors['minlength']" class="small redlabe text-danger">password must be atleast 6 characters</span>
                                                    <span *ngIf="updatePasswordForm.controls['password'].errors['pattern']&&!updatePasswordForm.controls['password'].errors['minlength']" class="small redlabe text-danger">Password must contain at least 6 characters including 1 uppercase and 1 lowercase letter, 1 special character and 1 number</span>
                                                </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">Confirm password
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                           <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                                            <div class="small redlabe text-danger" *ngIf="!updatePasswordForm.controls['confirmPassword'].valid&&updatePasswordForm.controls['confirmPassword'].dirty">
                                            </div>
                                            <div *ngIf="updatePasswordForm.controls['confirmPassword'].dirty&&updatePasswordForm.hasError('mismatchedPasswords')"><span class="small redlabe text-danger"> Passwords do not match.</span></div>
                                    </div>
                                </div>
                                  
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="offset-md-3 col-md-9">
                                            <button type="submit" data-toggle="modal" class="btn btn-info" (click)="updatePassword()" [disabled]="!updatePasswordForm.valid">Submit</button>
                                            <button type="button" class="btn btn-default" (click)="reset()">Clear</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>