<img src="../assets/img/loader.gif" *ngIf="loading" style="height:15%;width:5%;z-index:9999!important;position :absolute;top:100px;bottom:0;left:170px;right:0;margin:0 auto;">


<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">UpdatePassword Password</h4>
                      <p class="card-category">Update your profile</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="updatePasswordForm">
                          <div class="row">
                              <div class="col-md-12">
                                 <mat-form-field class="example-full-width">
                                    <input matInput placeholder="New Password" type="password" formControlName="newPassword" [(ngModel)]="updatePassword.newPassword" required />
                                  </mat-form-field>
                                  <div style="color:red" *ngIf="!updatePasswordForm.controls['newPassword'].valid&&updatePasswordForm.controls['newPassword'].dirty">
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['required']">Password is required</span>
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['minlength']">Must be longer than 6 characters</span>
                                                <span *ngIf="updatePasswordForm.controls['newPassword'].errors['pattern']&&!updatePasswordForm.controls['newPassword'].errors['minlength']">Password Must Contain one lowercase and one uppercase letter,number and special characters!</span>
                                            </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Confirm New Password" type="password" formControlName="confirmNewPassword" [(ngModel)]="updatePassword.confirmNewPassword" required />
                                </mat-form-field>
                               <div *ngIf="!updatePasswordForm.controls['confirmNewPassword'].valid&&updatePasswordForm.controls['confirmNewPassword'].dirty" class="help-block">
                                             <span style="color:red;">Confirm new password is required</span>
                                            </div>
                                            <div *ngIf="updatePasswordForm.controls['confirmNewPassword'].touched&&updatePasswordForm.hasError('mismatchedPasswords')" class="help-block">
                                                <span style="color:red;"> Confirm password do not match.</span>
                                            </div>
                              </div>
                          </div>
                          
                          
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateUserPassword()" [disabled]="!updatePasswordForm.valid">Submit</button>
                          <div class="clearfix"></div>
                         <div class="footer text-center">
                                     <a [routerLink]="['/login']" align="right" style="line-height: 0px; color: Green">Already have an account?</a>
                                    </div>
                      </form>
                  </div>
              </div>
          </div>

  </div>
</div>
