    <div id="main-content" class="profilepage_1">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>{{patientName ? patientName : 'NA'}}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a ><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Record Review</li>
                            <li class="breadcrumb-item active">Patient Arecord View</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">

                    </div>
                </div>
            </div>


            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="timeline-item green" *ngIf="EHRhistory.length===0">
                                No Records Found!.
                            </div>
                            <div class="timeline-item green" *ngFor="let item of EHRhistory;let i= index">
                                <span class="date">{{item?.date | date}}</span>
                                <span>
                                    Dr.<a title="">
                                    {{item?.uploadedby?.firstName +' '+item?.uploadedby?.lastName}}
                                </a>{{item?.uploadedby?.address}}</span>
                                <div class="msg">
                                    <p>
                                        <strong>
                                            {{item?.type}}
                                        </strong>
                                    </p>
                                    <p>{{item?.description}}</p>
                                    <div class="timeline_img m-b-20">
                              
                                        <iframe  [src]="item?.data | safe" frameborder="0"                                          webkitallowfullscreen mozallowfullscreen allowfullscreen style="float: left;width: 100%;height: 100%">
                                            </iframe><br/>
                                            <span>
                                                Uploaded By : Dr.<a title="">
                                                {{item?.uploadedby?.firstName +' '+item?.uploadedby?.lastName}}
                                            </a></span>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
