<!--     <div id="main-content" class="profilepage_1">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>{{patientName ? patientName : 'NA'}}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a ><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Record Review</li>
                            <li class="breadcrumb-item active">Patient Arecord View</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">

                    </div>
                </div>
            </div>


            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="timeline-item green" *ngIf="EHRhistory.length===0">
                                No Records Found!.
                            </div>
                            <div class="timeline-item green" *ngFor="let item of EHRhistory;let i= index">
                                <span class="date">{{item?.date | date}}</span>
                                <span>
                                    Dr.<a title="">
                                    {{item?.uploadedby?.firstName +' '+item?.uploadedby?.lastName}}
                                </a>{{item?.uploadedby?.address}}</span>
                                <div class="msg">
                                    <p>
                                        <strong>
                                            {{item?.type}}
                                        </strong>
                                    </p>
                                    <p>{{item?.description}}</p>
                                    <div class="timeline_img m-b-20">
                              
                                        <iframe  [src]="item?.data | safe" frameborder="0"                                          webkitallowfullscreen mozallowfullscreen allowfullscreen style="float: left;width: 100%;height: 100%">
                                            </iframe><br/>
                                            <span>
                                                Uploaded By : Dr.<a title="">
                                                {{item?.uploadedby?.firstName +' '+item?.uploadedby?.lastName}}
                                            </a></span>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Patient </div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" [routerLink]="['/home']">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item" [routerLink]="['/doctor/dashboard']">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item" [routerLink]="['/doctor/viewpatients']">View Patients</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Patient</li>
                </ol>
            </div>
        </div>
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">{{patientName ? patientName : 'NA'}} </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <!-- <ul class="nav customtab nav-tabs" role="tablist">
                                    <li class="nav-item"><a href="#tab1" class="nav-link active"  data-toggle="tab" >List View</a></li>
                                    <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Grid View</a></li>
                                </ul> -->
                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-topline-red">
                                        <div class="card-head">
                                            <header></header>
                                            <!--   <div class="tools">
                                                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                                        </div> -->
                                        </div>
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="btn-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <div class="btn-group pull-right" >
                                                      
                                                        <!-- <ul class="dropdown-menu pull-right">
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="fa fa-print"></i> Print </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:;">
                                                                                <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                                                        </li>
                                                                    </ul> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-hover table-checkable order-column full-width" id="example4">
                                                    <thead>
                                                        <tr>
                                                            <th> S.N. </th> 
                                                            <th> Doctor Name </th>       
                                                            <th> Mobile </th>      
                                                            <th> Email </th>
                                                            <th> City </th>
                                                            <th> Department </th>
                                                            <th> Reports</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngIf="EHRhistory.length===0">
                                                            
                                                            <td></td> 
                                                            <td></td>              
                                                            <td></td>
                                                            <td>No Data Found</td>
                                                            <td></td>
                                                            <td></td>
                                                            
                                                        </tr>
                                                        <tr class="odd gradeX" *ngFor="let item of EHRhistory  | paginate: { id: 'EHRhistory',itemsPerPage: 6, currentPage: p };let i = index">
                                                            <td >{{EHRhistory.indexOf(item) +1}} </td >
                                                            <td >{{item?.doctor?.firstName +' '+item?.doctor?.lastName}}</td>
                                                           
                                                            <td class="left">{{item?.doctor?.mobileNo}}</td>
                                                            <td class="left">{{item?.doctor?.email}}</td>
                                                            <td class="left">{{item?.doctor?.city}}</td>
                                                            <td>{{item?.doctor?.department}}</td>
                                                           
                                                            
                                                            <td>
                                                                <a  class="btn btn-danger btn-xs" (click)="viewEHR(item)">
                                                                        View Report
                                                                            <i class="fa fa-eye-o "></i>
                                                                        </a>
                                                           
                                                            </td>
                                                        </tr>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <pagination-controls id="EHRhistory" (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="modal fade" id="prescriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Doctor Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        
                            <div class="form-body">

                                <!-- Start Diseas -->
                   Name : {{doctorName ? doctorName : "NA"}}

                    <div *ngIf="precreption.length > 0">
                            <h2>Prescribed Medicine :</h2>
                            <table>
                              <tr>
                                <th>Medicine Name</th>
                                <th>InTake</th>
                                <th>Dose</th>
                                <th>Duration</th>
                                <th>Action</th>
                              </tr>
                              <tr *ngFor="let item of precreption;let i = index">
                                <td>{{item.medicineName}}</td>
                                <td>{{item.intake}}</td>
                                <td>{{item.dose}}</td>
                                <td>{{item.duration}}</td>                              
                              </tr>
                          </table>
                        </div>
                                 <!-- End Diseas -->
                            </div>
                       
                  </div>

                  diagonosis : {{diagonosis}}<br>
                  deseas  :{{deseas}} <br>
                  date  : {{data | date: 'dd-MM-yyyy'}}<br>
                  prescription : {{prescription}}
                </div>
              </div>
            </div>