<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Upload Bills</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item">Pharmacy</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">profile update</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Basic Information</header>
                        <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                            <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                            <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body" id="bar-parent">
                        <form [formGroup]="labForm" id="form_sample_1" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Name
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" formControlName="name" name="name" data-required="1" placeholder="enter name" class="form-control input-height" /> 
                                     
                                        <div *ngIf="!labForm.controls['name'].valid&&labForm.controls['name'].dirty">
                                                    <span class="text-capitalize small text-danger" *ngIf="labForm.controls['name'].errors['required']" class="small redlabe text-danger">Name is required</span>
                                                   
                                                </div>
                                    </div>
                                </div>
                                  <div class="form-group row">
                                    <label class="control-label col-md-3">Email
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" formControlName="email" name="email" data-required="1" placeholder="enter email" class="form-control input-height" /> 
                                     
                                        <div class="small" *ngIf="!labForm.controls['email'].valid&&labForm.controls['email'].dirty" class="redlabe">
                                                    <span *ngIf="labForm.controls['email'].errors['required']" class="small redlabe text-danger"> Email cannot be left blank</span>
                                                    <span *ngIf="labForm.controls['email'].errors['pattern']" class="small redlabe text-danger">Email must be valid</span>
                                                </div>
                                    </div>
                                </div>
                                  <div class="form-group row">
                                    <label class="control-label col-md-3">Contact No
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="number" formControlName="contactNo" name="contactNo" data-required="1" placeholder="enter contact number" class="form-control input-height" /> 
                                     
                                         <div class="small redlabe text-danger"
                                                *ngIf="!labForm.controls['contactNo'].valid&&labForm.controls['contactNo'].dirty" >
                                                <span class="small redlabe text-danger"
                                                *ngIf="labForm.controls['contactNo'].errors['contactNo']"> Contact No cannot be left blank</span>
                                                <span class="text-capitalize small text-danger"*ngIf="labForm.controls['contactNo'].errors['pattern']" class="small redlabe text-danger">Contact No is not valid</span>
                                            </div>
                                    </div>
                                </div>
                                  <div class="form-group row">
                                    <label class="control-label col-md-3">License No
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="license" placeholder="License Number" formControlName="license"/>
                                            <div class="small" *ngIf="!labForm.controls['license'].valid&&labForm.controls['license'].dirty" class="small redlabe text-danger"
                                                >
                                                <span class="small redlabe text-danger"
                                                *ngIf="labForm.controls['license'].errors['required']"> license number cannot be left blank</span>
                                               
                                            </div>
                                    </div>
                                </div>
                                   <div class="form-group row">
                                    <label class="control-label col-md-3">Open Time
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="time" class="form-control" name="open" placeholder="open time" formControlName="open"/>
                                            <div class="small" *ngIf="!labForm.controls['open'].valid&&labForm.controls['open'].dirty" class="small redlabe text-danger"
                                                >
                                                <span class="small redlabe text-danger"
                                                *ngIf="labForm.controls['open'].errors['required']"> Open Time cannot be left blank</span>
                                                
                                            </div>
                                    </div>
                                </div>
                                  <div class="form-group row">
                                    <label class="control-label col-md-3">Close Time
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <input type="time" class="form-control" name="close" placeholder="close time" formControlName="close"/>
                                            <div class="small" *ngIf="!labForm.controls['close'].valid&&labForm.controls['close'].dirty" class="small redlabe text-danger"
                                                >
                                                <span class="small redlabe text-danger"
                                                *ngIf="labForm.controls['close'].errors['required']"> Close Time cannot be left blank</span>
                                                
                                            </div>
                                    </div>
                                </div>

                                  <div class="form-group row">
                                    <label class="control-label col-md-3">city                                        
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" name="city" data-required="1" placeholder="enter your city" class="form-control " formControlName="city"/>
                                    </div>
                                </div>
                               
                               
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="offset-md-3 col-md-9">
                                            <button type="submit" data-toggle="modal" class="btn btn-info" (click)="updateUserProfile()" [disabled]="!labForm.valid">Submit</button>
                                            <button type="button" class="btn btn-default" (click)="reset()">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>