<header class="header">
        <div class="header__content header__content--fluid-width">
            <div class="header__logo-title">
                <a >
                    <img src="assets/../../assets/images/white-logo.png" alt="logo" width="160" class="default-logo">
                </a>
                <a >
                    <img src="assets/../../assets/images/logo.png" alt="logo" width="160" class="active-logo">
                </a>
            </div>
            <nav class="header__menu">                                                                   
                <ul>
                    <li><a class="selected header-link" scrollTo href="#intro">HOME</a></li>
                    <li><a  class="header-link" scrollTo href="#about">About</a></li>
                    <li><a class="header-link" scrollTo href="#features">FEATURES</a>
                    </li>
                    <li><a  class="header-link" scrollTo href="#support">CONTACT</a></li>
                    <li *ngIf="isLogin"><a  class="header-link" (click)="dashboard()">Dashboard</a></li>
                    <li *ngIf="isLogin"><a  class="header-link" (click)="logout()">Logout</a></li>
                    <li class="header__btn header__btn--login" *ngIf="isNotLogin">
                        <a [routerLink]="['/login']">LOGIN</a>
                    </li>
                    <li class="header__btn header__btn--signup" *ngIf="isNotLogin">
                        <a [routerLink]="['/signup']">GET STARTED</a>
                    </li>          
                </ul>
            </nav> 
        </div>      
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="section section--intro" id="intro">
            <div class="section__content section__content--fluid-width section__content--intro">
                <div class="intro">
                    <div class="intro__content">
                        <div class="intro__title"><span>Digital Health Records</span> at your fingertips</div>
                        <div class="intro__subtitle">
                            <p>
                                Digital healthcare of the future. 
                            </p>
                            <p class="">
                                Empowered by Blockchain Technology.
                            </p>
                            <p>
                                Enabling simple and secure exchange of medical records.
                            </p>
                        </div>
                        
                    </div>  
                </div>
            </div>
            <div class="intro-animation">
                <img src="../../assets/images/intro-animation.png" alt="" title=""/>
            </div>
            <svg class="svg-intro-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0,70 C30,130 70,50 100,70 L100,100 0,100 Z" fill="#ffffff"/>
            </svg>
            <svg class="svg-intro-bottom-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0,70 C30,130 70,50 100,70 L100,100 0,100 Z" fill="#ffffff" fill-opacity="0.4"/>
            </svg>
            <svg class="svg-intro-bottom-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M95,0 Q90,90 10,100 L100,100 100,0 Z" fill="#ffffff" fill-opacity="0.1"/>
            </svg>
    </section>
    <!-- ***** Wellcome Area End ***** -->
    <!-- Section -- about -->
    <section class="section section--about" id="about">

            <div class="section__content section__content--fluid-width section__content--about">
                <div class="grid grid--5col grid--about">
                
                    <div class="grid__item grid__item--x2">
                        <h3 class="grid__title">MediLocks for <span>Patients</span></h3>
                        <p class="grid__text">Allowing you to fully own and leverage your medical history in one place for a better and healthier life.</p>
                        <ul class="grid__list">
                            <li>Receive genuine prescriptions directly from your doctor.</li> 
                            <li>Store, access and share your digital records 24/7</li> 
                            <li>All your records from different healthcare providers at one place.</li> 
                        </ul>
                        
                    </div>
                    <div class="grid__item grid__item--x3">
                        <div class="grid__image grid__image--right" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img src="../../assets/images/patients.png" alt="" title=""/></div>
                    </div>
                </div>
            </div>
        
    </section>

    <!-- Section -- about -->
    <section class="section section--about">

            <div class="section__content section__content--fluid-width section__content--about">
                <div class="grid grid--5col grid--about">
                
                    <div class="grid__item grid__item--x2 grid__item--floated-right">
                        <h3 class="grid__title">MediLocks for <span>Hospital</span></h3>
                        <p class="grid__text">Providing robust and reliable solution to help you deliver more efficient and affordable healthcare.</p>
                        <ul class="grid__list">
                            <li>Easily access patient's medical history</li> 
                            <li>Improve data management </li> 
                            <li>Reduce Administration time and burden</li> 
                        </ul>
                        
                    </div>
                    <div class="grid__item grid__item--x3">
                        <div class="grid__image grid__image--left" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img src="../../assets/images/hospital.png" alt="" title=""/></div>
                    </div>

                </div>
            </div>
        
    </section>

    <!-- Section -- about -->
    <section class="section section--about" id="about2">

            <div class="section__content section__content--fluid-width section__content--about">
                <div class="grid grid--5col grid--about">
                
                    <div class="grid__item grid__item--x2">
                        <h3 class="grid__title">MediLocks for <span>Healthcare Professionals/Pharmacists</span>.</h3>
                        <p class="grid__text">Providing you solution to access, store, diagnose and exchange information safely on a simple easy to use platform.</p>
                        <ul class="grid__list">
                            <li>Access to patients’ updated/complete medication list across all providers.</li> 
                            <li>Reduce fraudulent prescriptions with added peace of mind.</li> 
                            <li>Improve patient satisfaction.</li> 
                        </ul>
                        
                    </div>
                    <div class="grid__item grid__item--x3">
                        <div class="grid__image grid__image--right" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"><img src="../../assets/images/doctor.png" alt="" title=""/></div>
                    </div>
                </div>
            </div>
        
    </section>
    
    <!-- Section -- features -->
    <section class="section section--features" id="features">

            <div class="section__content section__content--fluid-width section__content--features">
                    <h2 class="section__title section__title--centered">Features designed for you</h2>
                <div class="section__description section__description--centered">
                Medilocks is a decentralized infrastructure to store Electronic Health Records which are provably accurate.
                </div>
                <div class="grid grid--3col grid--features">
                
                    <div class="grid__item">
                        <div class="grid__icon"><img src="../../assets/images/Interoperability.svg" alt="" title="" width="64" /></div>
                        <h3 class="grid__title">Interoperability</h3>
                        <p class="grid__text">Empower trusted, safe and auditable sharing of data  across global systems, eliminating geographic and system boundaries.</p>
                    </div>
                    
                    <div class="grid__item">
                        <div class="grid__icon"><img src="../../assets/images/diagnosis.svg" alt="" title="" width="64" /></div>
                        <h3 class="grid__title">Quicker Diagnosis</h3>
                        <p class="grid__text">Patient’s Clinical and Diagnosis immutable history is accessible anytime anywhere, making diagnosis faster.</p>
                    </div>
                    
                    <div class="grid__item">
                        <div class="grid__icon"><img src="../../assets/images/Immutability.svg" alt="" title="" width="64" /></div>
                        <h3 class="grid__title">Immutability</h3>
                        <p class="grid__text">Records once stored can’t be changed. Any record can be easily verified with Zero Knowledge Proof.</p>
                    </div>  

                </div>
                
                <div class="grid grid--3col grid--features">
                
                    
                    <div class="grid__item">
                        <div class="grid__icon"><img src="../../assets/images/data.svg" alt="" title="" width="64" /></div>
                        <h3 class="grid__title">Data Hub</h3>
                        <p class="grid__text">Patient Data will be collected from various sources like IOTs, Clinical Information, & Doctor visits are all appended to EHR DB.</p>
                    </div>
                    
                    <div class="grid__item">
                        <div class="grid__icon"><img src="../../assets/images/prove.svg" alt="" title="" width="64" /></div>
                        <h3 class="grid__title">Provenance</h3>
                        <p class="grid__text">All Pateint History data on Medilocks carry a verifiably accurate provenance trail. Since the data is tamper-proof, this improves subsequent diagnosis time. </p>
                    </div>
                    
                    <div class="grid__item">
                        <div class="grid__icon"><img src="../../assets/images/mpurchase.svg" alt="" title="" width="64" /></div>
                        <h3 class="grid__title">Medicine Purchases </h3>
                        <p class="grid__text">Pharmaceutical purchase history and Prescription Management tools help patients receive right medicine in appropriate dosage.</p>
                    </div>

                </div>
            </div>

            
    </section>  
        
    <!-- Section -->
    <section class="section" id="support">
            <div class="section__content section__content--fluid-width section__content--padding">  
                <div class="grid grid--2col grid--support">
                    <div class="grid__item grid__item--padding">
                        
                        <h3 class="grid__title">Help &amp; Support</h3>
                        <p class="grid__text">MediLocks engages patients, clinicians, and medicinal services associations to access, store and exchange data securely, enhancing care coordination while guaranteeing information security. </p>
                        <p>
                            Have questions? Want to know more about our solution? Get in touch with us. We would love to hear from you.
                        </p>
                    </div>
                    <div class="grid__item grid__item--padding grid__item--centering">
                        <a  class="grid__more modal-toggle" (click)="openModalForcontactUsModal()">GET IN TOUCH NOW</a>
                    </div>
                    <svg class="svg-support-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0,90 Q0,100 3,100 L95,96 Q100,96 99,80 L95,25 Q94,15 90,15 L6,0 Q2,0 2,10 Z" fill="#fb993e"/>
                    </svg>
                </div>
                <div class="clear"></div>
            </div>
        
    </section>
    
    

    
    <!-- Section -->
    <section class="section section--cta" id="cta">
            <div class="section__content section__content--fluid-width section__content--padding section__content--cta">
                    <h2 class="section__title section__title--centered section__title--cta">Get Started Now!</h2>
                <div class="section__description section__description--centered section__description--cta">
                MediLocks provides end-to-end enablement of Blockchain-based health application and services through a global, person-centric data exchange that connects healthcare providers to each other and to the people they serve. Start using the solution and manage patient records efficiently.
                </div>
                <div class="intro__buttons intro__buttons--centered">
                <a  class="btn btn--orange-bg" [routerLink]="['/signup']">CREATE AN ACCOUNT</a>
                </div>
            </div>
            <svg class="svg-cta-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0,70 C30,130 70,50 100,70 L100,100 0,100 Z" fill="#ffffff"/>
            </svg>
    </section>


 
    <!-- ***** Contact Us Area End ***** -->

        <footer class="footer" id="footer">
            <div class="footer__content footer__content--fluid-width footer__content--svg">
            
                <div class="grid grid--5col">
                
                    <div class="text-center">
                        <div>
                            <a >
                                <img src="../../assets/images/logo.png" alt="logo" width="200">
                            </a>
                        </div>
                        <p class="grid__text grid__text--copyright text-center mt-2">Copyright &copy; {{year}} Medilocks. All Rights Reserved. </p>
                        <ul class="grid__list grid__list--sicons">
                                <li><a href="https://twitter.com/login?lang=en" target="_blank"><img src="../../assets/images/twitter.png" alt="" title=""/></a></li>
                                <li><a href="https://facebook.com/login?lang=en" target="_blank"><img src="../../assets/images/facebook.png" alt="" title=""/></a></li>
                                <li><a href="https://www.linkedin.com" target="_blank"><img src="../../assets/images/linkedin.png" alt="" title=""/></a></li>
                        </ul>
                    </div>                  
                </div>  
            </div>
        </footer>

         <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="contactUsModal">Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form class="form ng-untouched ng-pristine ng-valid " novalidate=" " [formGroup]="contactForm">
                                        <div class="card-content ">
                                            <div class="col-md-6 ">
                                                <div class="input-group ">
                                                    <span class="input-group-addon ">
                                                            <i class="fa fa-user-circle "></i>
                                                        </span>
                                                    <div class="form-group is-empty " style="margin-bottom: 0 !important;">
                                                        <input class="form-control " placeholder="Name... " type="text " style="border: 0px solid #eee !important;margin: 0!important;" formControlName="name" >
                                                    </div>
                                                </div>
                                                <div *ngIf="!contactForm.controls['name'].valid&&contactForm.controls['name'].dirty"> <span class="small redlabe text-danger">Name is required</span></div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="input-group ">
                                                    <span class="input-group-addon">

                                                            <i class="material-icons ">mail_outline</i>
                                                        </span>
                                                    <div class="form-group is-empty" style="margin-bottom: 0 !important;">
                                                        <input class="form-control " placeholder="Email... " type="text " style="border: 0px solid #eee !important;margin: 0!important;" formControlName="email" >
                                                    </div>
                                                </div>
                                                <div class="small" *ngIf="!contactForm.controls['email'].valid&&contactForm.controls['email'].dirty">
                                                    <span *ngIf="contactForm.controls['email'].errors['required']" class="small redlabe text-danger">Email id is required</span>
                                                    <span *ngIf="contactForm.controls['email'].errors['pattern']" class="small redlabe text-danger">Invalid email id</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 ">
                                                <div class="input-group ">
                                                    <span class="input-group-addon ">
                                                        <i class="material-icons ">format_size</i>
                                                            
                                                        </span>
                                                    <div class="form-group is-empty" style="margin-bottom: 0 !important;">
                                                        <input class="form-control " placeholder="Subject here... " type="text " style="border: 0px solid #eee !important;margin: 0!important;" formControlName="subject">
                                                    </div>
                                                    <div *ngIf="!contactForm.controls['subject'].valid&&contactForm.controls['subject'].dirty"> <span class="small redlabe text-danger">Subject is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 ">
                                                <div class="form-group is-empty ">
                                                    <textarea class="form-control " style="border: 1px solid #eaeaea !important;" placeholder="Your message " rows="5 " formControlName="message" ></textarea>
                                                    <div *ngIf="!contactForm.controls['message'].valid&&contactForm.controls['message'].dirty"> <span class="small redlabe text-danger">Message is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer text-center ">
                                            
                                            <div class="col-md-12 ">
                                                <button class="btn btn-info btn-round " [disabled]="!contactForm.valid" (click)="sendMessage(contactForm.value)">Send Message</button>
                                            </div>
                                        </div>
                                    </form>
                  </div>
                 
                </div>
              </div>
            </div>
        