<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="name"  [(ngModel)]="userprofile.name">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" [(ngModel)]="userprofile.email" disabled="true">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="mobileno" type="text" [(ngModel)]="userprofile.mobileNumber">
                                  </mat-form-field>
                              </div>
                          </div>

                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateProfile()">Update Profile</button>
                          <div class="clearfix"></div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<img src="../assets/img/loader.gif" *ngIf="loading" style="height:15%;width:5%;z-index:9999!important;position :absolute;top:100px;bottom:0;left:170px;right:0;margin:0 auto;">