<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-header card-header-danger bgblue">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1">
                                        <span class="float-right"> <i class="material-icons">settings</i> </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="float-left"><h4 class="card-title ">Settings</h4></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <!-- <thead class=" text-primary">
                                    <th>
                                        Contact Number
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </thead> -->
                                <tbody>
                                    <tr>
                                        <td>
                                            Spam Detection
                                        </td>
                                        <td>
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Language 
                                        </td>
                                        <td>
                                            <i class="material-icons text-black-50">keyboard_arrow_right</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Share
                                        </td>
                                        <td>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Deactivate Account
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Default Time Preference
                                        </td>
                                        <td>
                                           <span>12/3/2018</span>
                                           <span class="ml-2">10:00 AM</span> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Default Communication Prference
                                        </td>
                                        <td>
                                            SMS
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>